html{height:100%;min-width:320px;}
*{padding: 0;margin: 0;}
ul li{list-style:none;}
body{font-size:10px;-webkit-font-smoothing:antialiased;word-break:break-all;white-space:normal;word-wrap:break-word;overflow-y:auto;overflow-x:hidden;height:100%;}
a{text-decoration: none;color:hsl(0,10%,10%);}


.ad{width:100%;}
.ad figure,figcaption,p{transition:all 1s;-webkit-transition:all 1s;}
.ad figure{display:block;position:relative;}

.ad figure figcaption .p-eff1{display:block;position:absolute;top:60%;left:10%;opacity:0;font-weight:200;display:block;margin:1rem 0;left:48%;}
.ad figure figcaption .p-eff2{transition-delay:.5s;-webkit-transition-delay:.5s;-moz-transition-delay:.5s;top:32%;opacity:1;left:38%;padding:0 2px;}
.ad figure figcaption .p2-eff1{display:block;position:absolute;top:90%;left:10%;opacity:0;font-weight:200;display:block;margin:1rem 0;left:48%;}
.ad figure figcaption .p2-eff2{transition-delay:.8s;-webkit-transition-delay:.8s;-moz-transition-delay:.8s;top:40%;opacity:1;left:38%;padding:0 2px;}




.fa{color:#66FF99 !important;}
.fa:hover{color:#CC0033 !important;}

.content{font-size:2rem;margin-top:5rem;margin:0 auto;padding:2rem 1rem;}

@media screen and ( min-width:960px ){
	.content{width:80%;}
	.ad figure figcaption p{color:white;font-size:1.8rem;font-weight:400;margin:0.5rem 0;font-family:"楷体";background-color:#83A9BE;}
}
@media screen and ( max-width:960px ){
	.content{width:90%;}
	.ad figure figcaption p{display:none !important;}
}
@media screen and ( max-width:660px ){
	.content{width:95%;}
	.ad figure figcaption p{display:none !important;}
}
.content>div{margin-bottom:5rem;text-align:center;}
.content>div>h2{text-align:center;margin-bottom:2rem;font-weight:600;width:100%;font-family:"楷体";}
 
 
.row{	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 80rem;}
.xiaoxue,.zhongxue{width:100%;background-color:hsla(0,10%,50%,0.6);margin:1rem auto;padding:1rem;border-radius:0.5rem;cursor:pointer;}
.xiaoxue a,.zhongxue a{color:white;}
.xiaoxue:hover,.zhongxue:hover{background-color:hsla(120,30%,50%,0.9);}
.xiaoxue a:hover,.zhongxue a:hover{color:yellow;text-decoration:none;}

.xingshi-cont{text-indent:30px;text-align:left;padding:5px 8px;margin-bottom:5rem;}
.xingshi-cont p{color:hsl(0,10%,35%);font-size:1.6rem;line-height:2.5rem;}

.clearfix{clear:both;}
.clearfix:after{content:'';clear:both;}
#duixing{display:block;position:relative;}
#duixing .people  h4{display:block;margin-bottom:2rem !important;}
#duixiang  .left-img{max-width:95%;position:absolute;left:0%;top:73%;transition:all 2s;-webkit-transition:all 2s;display:block;z-index:1;}
#duixiang  .right-img{position:absolute;right:0%;top:73%;transition:all 2s;-webkit-transition:all 2s;display:block;z-index:1;}
#duixiang .disapper1{position:absolute;right:1%;top:73%;z-index:99;}
#duixiang .disapper1{position:absolute;left:1%;top:73%;z-index:99;}
#duixiang div[class ^= "img-none-"]{cursor:pointer;}
#xingshi{display:block;}
.xingshi-i{color:#990066;}
#prize{display:block;}
#prize .title{display:block;margin-bottom:2rem;}
#prize img{transition:all 0.6s ease-in;-webkit-transition:all 0.6s ease-in;-moz-transition:all 0.6s ease-in;margin-top:1rem;}

.prize-item ul li{font-size:1.5rem;margin:1.2rem;}
.footer{width:100%;}
.footer-cont{box-shadow:0 0 3px 4px hsla(220,70%,50%,0.6);width:100%;padding:2.5rem;background-color:hsla(220,70%,50%,0.6);margin:0 auto;}
.footer-cont-up{width:20%;margin:2rem auto;}

@media screen and (min-width:961px){
.footer-cont-up img{outline:1px solid white;margin:0 2rem;}
.img-list{width:45%;position:relative;display:block;top:-13rem;}
.img-list2{width:45%;position:relative;display:block;float:right;top:-13rem;}
}

.footer-cont-up img:hover{box-shadow:0px 0px 10px 5px hsla(0,10%,30%,0.5);}

.footer-cont-down{color:white;font-weight:500;margin:0 auto;width:100%;text-align:center;}
.footer-cont-down h4{line-height:3rem;text-transform:uppercase;}
.footer-cont-down h4 a{color:#993366;}


@media screen and (min-width:661px) and (max-width:960px){
.footer-cont-up img{outline:1px solid white;margin:2rem;text-align:center;}
.img-list{width:45%;position:relative;display:block;top:-18rem;}
.img-list2{width:45%;position:relative;display:block;float:right;top:-18rem;}
	}
	
	@media screen and (max-width:660px){
.footer-cont-up img{outline:2px solid white;margin:2rem;text-align:center;}
.img-list{width:45%;position:relative;display:block;top:-23rem;}
.img-list2{width:45%;position:relative;display:block;float:right;top:-23rem;}
	}
	

/*left*/

.img-list img{max-width:24%;transition:all 2s;-webkit-transition:all 2s;}

.img-list .img-list-eff1{opacity:0;left:-10%;position:absolute;top:0%;}
.img-list  .img-eff1{transition-delay:.8s;-webkit-transition-delay:.8s;-moz-transition-delay:.8s;opacity:1;left:0%;}

.img-list .img-list-eff2{opacity:0;left:-10%;position:absolute;top:0%;}
.img-list .img-eff2{transition-delay:1.2s;-webkit-transition-delay:1.2s;-moz-transition-delay:1.2s;opacity:1;left:25%;}

.img-list .img-list-eff3{opacity:0;left:-10%;position:absolute;top:0%;}
.img-list  .img-eff3{transition-delay:1.8s;-webkit-transition-delay:1.8s;-moz-transition-delay:1.8s;opacity:1;left:50%;}

/*right*/

.img-list2 img{max-width:24%;transition:all 2s;-webkit-transition:all 2s;}
.img-list2 .img-list2-eff1{opacity:0;right:-10%;position:absolute;top:0%;}
.img-list2 .img2-eff1{transition-delay:.8s;-webkit-transition-delay:.8s;-moz-transition-delay:.8s;opacity:1;right:0%;}

.img-list2 .img-list2-eff2{opacity:0;right:-10%;position:absolute;top:0%;}
.img-list2 .img2-eff2{transition-delay:1.2s;-webkit-transition-delay:1.2s;-moz-transition-delay:1.2s;opacity:1;right:25%;}

.img-list2 .img-list2-eff3{opacity:0;right:-10%;position:absolute;top:0%;}
.img-list2 .img2-eff3{transition-delay:1.8s;-webkit-transition-delay:1.8s;-moz-transition-delay:1.8s;opacity:1;right:50%;}